{
  "PushEventSources": [
    {
      "Service": "apigateway.amazonaws.com",
      "ApiId": "{{ api_id }}",
      "RouteId": "{{ route_id }}",
      "AlaisStageVariableName": "lambdaAlias"
    }
  ]
}