{
  "FunctionName": "LambdaFunction_SQS",
  "Role": "{{ lambda_exec_role_arn }}",
  "Handler": "test_lambda_sqs.lambda_handler",
  "Runtime": "python3.8",
  "Code": {
    "S3Bucket": "{{ s3_bucket_name }}",
    "S3Key": "{{ s3_object_sqs_key }}"
  },
  "Description": "This is a test Lambda function.",
  "Timeout": 15,
  "MemorySize": 128,
  "Publish": true,
  "PackageType": "Zip"
}